<footer class="footer hx:py-8 hx:bg-gray-100 hx:dark:bg-gray-900 hx:text-gray-700 hx:dark:text-gray-300" style="font-size:12px;">
  <div class="hx:container hx:mx-auto hx:text-left" style="margin-top:1em; margin-bottom:1.5em;">
    <p>
      <strong>Contact:</strong>
      <a href="mailto:contact@sheepdog.dev" class="hx:text-primary-600 hover:hx:underline">contact@sheepdog.dev</a>
    </p>
    <p>
      <strong>Vale Real - RS - Brazil</strong>
    </p>
    <strong>Phone:</strong>
      <a href="tel:+5551995688033" class="hx:text-primary-600 hover:hx:underline">Call to us</a>
    </p>
  </div>
</footer>